<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    <form class="form-box" action="/add" method="POST">
        <h4>글쓰기</h4>
        <input name="title" value="<%= result.title %>">
        <input name="content" value="<%= result.content %>">
        <%# input 태그는 form 태그 안에 넣는 것이 좋다%>
        <button type="submit">전송</button>
    </form> 
           

  
  </body>
</html>