<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%# JSON.stringify(list) %>
    <%- include('nav.ejs') %>
    <%# 해당 ejs 파일에 있던 html을 모두 복사해옴 %>
    <div class="white-bg">
        <% for (let i = 0; i<list.length; i++) { %>
            <div class="list-box">
                <h4><%= list[i].title %></h4>
                <p><%= list[i].content %></p>
            </div>
        <% } %> 
    </div> 
  
  </body>
</html>